.chatForm {
  width: 100%;
  height: 100vh;
  ul {
    position: relative;
    top: 0;
    margin: 0 auto;
    width: 50%;
    height: 95%;
    background-color: $chatRoomBg;
  }
  form {
    position: relative;
    top: 0;
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
    input {
      width: 100%;
      outline: none;
      border: none;
    }
    button {
      width: 4rem;
      height: 2rem;
      background-color: $buttonColor;
      outline: none;
      border: none;
    }
  }
}
