@import "variables.scss";
@import "form.scss";
@import "reset.scss";
@import "register.scss";
@import "message.scss";

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#loggedOut {
  display: none;
}

#loggedIn {
  display: block;
}
